
* {
    box-sizing: border-box;
    transition: all 400ms ease-in 0;
}

body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    
    padding: 10px;
    
    background-image: url(../img/paper.png);
}

section {
    position: relative;
    border: 7px solid black;
    padding: 10px;
    margin: auto;
}

/*************************************
*   CONTAINER
*************************************/

#double-border {
    position: relative;
    height: 100%;
    border: 4px solid black;
    overflow: hidden;
    
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}

#double-border > h2 {
    position: absolute;
    font-family: 'diner-skinnyregular';
    font-size: 2em;
    letter-spacing: 0.2em;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

#double-border > h2:hover {
    -webkit-animation: pulse2 1.8s linear 0 infinite !important;
    -moz-animation: pulse2 1.8s linear 0 infinite !important;
    -o-animation: pulse2 1.8s linear 0 infinite !important;
    animation: pulse2 1.8s linear 0 infinite !important;
}

/*************************************
*   NAV LABELS
*************************************/

#personal-shopper {
    left: 0;
    top: 10%;
    width: 24%;
    color: #C9E0DD;
    
    -webkit-animation: pulse 4s linear 6s infinite;
    -moz-animation: pulse 4s linear 6s infinite;
    -o-animation: pulse 4s linear 6s infinite;
    animation: pulse 4s linear 6s infinite;
}

#conseil-cadeau {
    top: 90%;
    left: 33%;
    width: 33%;
    color: #002F2C;
    
    -webkit-animation: pulse 4s linear 6.5s infinite;
    -moz-animation: pulse 4s linear 6.5s infinite;
    -o-animation: pulse 4s linear 6.5s infinite;
    animation: pulse 4s linear 6.5s infinite;
}

#conseil-image {
    top: 15%;
    right: 0;
    width: 20%;
    color: #8B9F86;
    writing-mode: tb-rl;
    
    -webkit-animation: pulse 4s linear 7s infinite;
    -moz-animation: pulse 4s linear 7s infinite;
    -o-animation: pulse 4s linear 7s infinite;
    animation: pulse 4s linear 7s infinite;
}

/*************************************
*   MODAL WINDOW
*************************************/

.modal {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 60%;
    
    transform: translateX(-50%);
    
    padding: 30px;
    
/*    color: #D0B899;*/
    color: #F1EDDF; 
    
    text-align: center;
	font-family: monospace;
	
	opacity: 0;
	z-index: 10;
}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 2em;
    margin: 30px;
}

.close-button:hover {
    -webkit-animation: roll 2s linear 0 infinite;
    -moz-animation: roll 2s linear 0 infinite;
    -o-animation: roll 2s linear 0 infinite;
    animation: roll 2s linear 0 infinite;
}

#arrow-modal {
    margin-top: 1em;
}

.modal h2 {
	font-family: 'diner-skinnyregular';
	font-size: 3em;
	margin: 0;
	
	letter-spacing: 0.2em;
	
	color: #9D360A;
}

.modal p {
    text-align: justify;
    font-size: 1.3em;
    background-color: rgba(10, 23, 27, 0.32);
    padding: 10px;
    border-radius: 10px;
}

.modal .tarif {
    text-align: center;
}

/*************************************
*   FRAME BARBARA BISSEY
*************************************/

.frame {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 1;
    
    margin: 15px;
    
    text-align: center;
	
	font-family: 'diner-skinnyregular';
}

section > .frame {
    -webkit-animation: intro-frame 10s linear 0s;
    -moz-animation: intro-frame 10s linear 0s;
    -o-animation: intro-frame 10s linear 0s;
    animation: intro-frame 10s linear 0s;
	
	cursor: pointer;
}

section > .frame:hover {
    transform: scale3D(1.05,1.05,1.05);
}

.frame h1 {
	text-align: center;
	margin: 0;
	padding-top: 6px;
	padding-bottom: 3px;
	font-size: 3em;
	color: #9D360A;
	letter-spacing: 0.2em;	
}

.frame > div {
    
    background-repeat: no-repeat; 
}

section > .frame > div {
    height: 50px;
    
    background-size: 100% 100%;
}

.frame-top {
    background-image: url(../img/frame-top.png);
}

.frame-bottom {
    background-image: url(../img/frame-bottom.png);
}

#rideau {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    background-color: #1D1313;
    opacity: 0;
    
    -webkit-animation: intro-rideau 5s linear 0s;
    -moz-animation: intro-rideau 5s linear 0s;
    -o-animation: intro-rideau 5s linear 0s;
    animation: intro-rideau 5s linear 0s;
}

#rideau .frame-top {
    background-image: url(../img/frame-top-2.png);
}

#rideau .frame-bottom {
    background-image: url(../img/frame-bottom-2.png);
}

#rideau .frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

#rideau .frame > div {
    height: 70px;
    background-size: 50% 100%;
    background-position: 50%;   
}

#rideau .frame h1 {	
    font-size: 4em;
	-webkit-animation: intro-nom 2s linear 0s;
	-moz-animation: intro-nom 2s linear 0s;
	-o-animation: intro-nom 2s linear 0s;
	animation: intro-nom 2s linear 0s;
}

#rideau .frame h2 {	
    font-family: 'diner-skinnyregular';
	font-size: 2em;
	color: #9D360A;
	letter-spacing: 0.2em;
	
    -webkit-animation: intro-label 2s linear 0s;
    -moz-animation: intro-label 2s linear 0s;
    -o-animation: intro-label 2s linear 0s;
    animation: intro-label 2s linear 0s;
}

/*************************************
*   ETATS
*************************************/

.blur {
    -webkit-filter: blur(7px) brightness(0.55);
    filter: url(filters.svg#blur);
}

.desature {
    -webkit-filter: saturate(0.3) contrast(130%) brightness(120%);
    filter: url(filters.svg#desature);
}

.inactive {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
    
    pointer-events: none;
}

#conseil-image.instant {
    -webkit-animation-delay: 0s !important;
    -moz-animation-delay: 0s !important;
    -o-animation-delay: 0s !important;
    animation-delay: 0s !important;
}

#personal-shopper.instant {
    -webkit-animation-delay: 0.5s !important;
    -moz-animation-delay: 0.5s !important;
    -o-animation-delay: 0.5s !important;
    animation-delay: 0.5s !important;
}

#conseil-cadeau.instant {
    -webkit-animation-delay: 1s !important;
    -moz-animation-delay: 1s !important;
    -o-animation-delay: 1s !important;
    animation-delay: 1s !important;
}

/*************************************
*   FORMS
*************************************/

.contact {
    padding: 10px;
    border-radius: 5px;
    
    background-image: url(../img/paper.png);
    color: #9D360A;
	font-family: monospace;
    font-weight: bold;
    letter-spacing: 2px;
    
    cursor: pointer;
}

.contact:hover {
    color: #0D232C;
    transform: scale3D(0.95, 0.95, 0.95);
}

hr {
    width: 60%;
}

#modal-contact input, select, textarea{
    height: 2em;
    
    border: none;
    margin-top: 1.5em;
    padding: 10px;
    border-radius: 5px;
    
    background-image: url(../img/paper.png);
    color: #9D360A;
	font-family: monospace;
    font-weight: bold;
    letter-spacing: 2px;
}

#submit {
    background-color: #9D360A;
    color: #E0C6A5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1em;
    width: 20%;
    margin-left: 40%;
    cursor: pointer;
}

#modal-contact input {
    float: left;
    
    width: 49%;    
    margin-right: 1%;
}

#modal-contact select {
    width: 60%;
    height: 3em;
}

#modal-contact option {
    font-weight: bold !important;
    letter-spacing: 0;
}

#modal-contact textarea {
    width: 80%;
    height: 6em;
}

#message-OK {
    display: none;
}

.error {
    border: 3px solid red !important;
    
    -webkit-animation: wiggle 500ms;
    -moz-animation: wiggle 500ms;
    -o-animation: wiggle 500ms;
    animation: wiggle 500ms;
    
    -webkit-animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    -o-animation-iteration-count: 3;
    animation-iteration-count: 3;
}

/*#form-mail .OK {*/
/*    float: left;*/
/*    */
/*    width: 18%;*/
/*    height: 3em;*/
/*    */
/*    margin-top: 1px;*/
/*    margin-left: 2%;*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*    */
/*    background-color: #9D360A;*/
/*    font-weight: bold;*/
/*    */
/*    cursor: pointer;*/
/*}*/

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #A18376;
    font-weight: bold;
    letter-spacing: 2px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #A18376;
    font-weight: bold;
    letter-spacing: 2px;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #A18376;
    font-weight: bold;
    letter-spacing: 2px;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #A18376;
    font-weight: bold;
    letter-spacing: 2px;
}

/*************************************
*   FONTS
*************************************/

@font-face {
    font-family: 'diner-skinnyregular';
    src: url('fonts/Diner-Skinny-webfont.eot');
    src: url('fonts/Diner-Skinny-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Diner-Skinny-webfont.woff') format('woff'),
         url('fonts/Diner-Skinny-webfont.ttf') format('truetype'),
         url('fonts/Diner-Skinny-webfont.svg#diner-skinnyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*************************************
*   MEDIA QUERIES
*************************************/

@media screen and (max-aspect-ratio: 3/2) { 

    section {
        width: calc(99vw - 20px);
        height: 66vw;    
    }

}

@media screen and (min-aspect-ratio: 3/2) { 

    section {
        height: calc(99vh - 20px);  
        width: 150vh;          
    }

    #double-border > h2 {
        font-size: 1.5em !important;
    }

}

